<!-- Service Links Grid -->
<section class="service-links-grid">
    <div class="container">
        <div class="row">
            {% for service_link in service_links %}
            <div class="col-md-3">
                <div class="service-item">
                    <i class="fas {{ service_link.icon }} service-icon"></i>
                    <div class="get-help-text">Get help with</div>
                    <a href="{{ url_for('main.service_page', slug=service_link.slug) }}" class="service-title">
                        {{ service_link.display_title }}
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
